node_modules
dist
build
.DS_Store
.env
.env.local
.env.*.local
*.log
npm-debug.log*
.vite
.cache
coverage
.wrangler
.dev.vars
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.tsbuildinfo
